* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #e57c04;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
img[width] {
	width: auto;
}
img[width][height] {
	height: auto;
}
.main__container {
	max-width: 1300px;
	min-width: 360px;
}
.nav {
	background-color: #e57c04;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav__links {
	display: flex;
	justify-content: space-around;
}
.nav__link {
	padding: 1em;
}

.social__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social__links a {
	padding: 1em;
}
.img-background-principal {
	background-size: cover;
	background-position: center;
	max-height: 40vh;
	overflow: hidden;
}
.footer {
	display: flex;
	flex-direction: column;
	background-color: #faa300;
}
