* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffff;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	display: block;
}
img[width] {
	width: 100%;
}
img[width][height] {
	height: auto;
}
.main__container {
	max-width: 1330px;
	min-width: 360px;
	margin: auto;
}
.nav {
	background-color: #ffff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.nav--bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #ffff;
}
.nav__links {
	display: flex;
	justify-content: space-around;
}
.nav__links__bottom {
	display: flex;
	justify-content: space-between;
}
.nav__link {
	padding: 1em;
	color: black;
}
.nav__link a {
	color: black;
	font-size: 1rem;
}

.social__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social__links a {
	padding: 1em;
	color: black;
}
i {
	font-size: 1.3rem;
}
.logo img {
	max-height: 2rem;
	margin: 4px;
}
.img-background-principal {
	background-size: cover;
	background-position: bottom;
	max-height: 60vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
}
.img-background-principal::before {
	content: 'Growler Beer';
	position: absolute;
	color: #ffff;
	font-size: 5rem;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 2rem;
	margin-top: 3rem;
	padding: 2rem;
	background-color: #f3b700;
}

.main-section-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 70vh;
	gap: 1rem;
}
.content-div-big {
	margin-top: 1rem;
	overflow: hidden;
}
.content-div-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content-div-flex-up {
	padding-top: 1rem;
}
.section-content-div {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.section-content-h1 {
	font-size: 8rem;
}
/* Nosotros*/
.container__nosotros {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 22% 40%;
}

.video__nosotros {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
	max-height: 60vh;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 80%;
	margin: auto;
}
div.images-nosotros {
	display: grid;
	grid-auto-flow: column;
	gap: 1em;
	margin: 1rem;
}

/*Productos**********/

.container__productos {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(3, 30%);
	gap: 1rem;
	margin: 1rem;
}
.div__productos {
	padding: auto;
	overflow: hidden;
}
.div__productos__title {
	font-size: 4rem;
	display: flex;
	flex-wrap: nowrap;
}
.span_color {
	color: #f3b700;
}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-section-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
	}
	.content-div-flex-up {
		padding-top: 1rem;
		margin-bottom: 1em;
	}
	.section-content-h1 {
		font-size: 4rem;
		text-align: center;
	}
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.main-section-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
	}
	.content-div-flex-up {
		padding-top: 1rem;
		margin-bottom: 1em;
	}
	.section-content-h1 {
		font-size: 4rem;
		text-align: center;
	}
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
	.main-section-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
	}
	.content-div-flex {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: flex-end;
		margin-top: 3rem;
	}

	.container__productos {
		display: grid;
		grid-auto-flow: column dense;
		gap: 1rem;
		overflow: hidden;
	}
	.img-background-principal {
		max-height: 40vh;
	}
	.img-background-principal::before {
		font-size: 2rem;
	}
	.main-section-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
	}
	.content-div-flex-up {
		padding-top: 1rem;
		margin-bottom: 1em;
	}
	.section-content-h1 {
		font-size: 4rem;
		text-align: center;
	}
}
