/*Servicios********/

.container__servicios {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 33% 33% 33%;
	gap: 1rem;
	margin: 2rem;
}
.servicios__heigth {
	min-height: 80vh;
	margin: 2rem;
}
.div__servicios_titulo {
	background-color: darkgoldenrod;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.div__servicios_titulo h2 {
	font-size: 3rem;
	font-weight: 700;
}
.div_servicios_contenido {
	background-color: darkgray;
	padding: 1rem;
}
/*Contacto*********/

.container__contacto {
	max-width: 50%;
	min-height: 80vh;
	margin: 2rem auto;
	display: grid;
	place-items: center;
}

.form {
	display: grid;
	grid-auto-flow: row;
	place-items: center;
}
.form__div {
	display: flex;
	flex-direction: column;
}

.form__input {
	padding: 1em;
	margin: 0.6rem;
	border-radius: 5px;
	box-shadow: inset 1px;
	min-width: 50vw;
}
.form__radio {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	align-items: center;
	align-content: stretch;
}
.radio__input {
	margin: 1rem;
}
.text__area {
	width: calc(100% - 45px);
	height: 150px;
}
textarea {
	width: 100%;
	height: 100%;
	outline: none;
	resize: vertical;
}
@media only screen and (max-width: 575px) {
	.container__servicios {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
	}
}
